.obs__introduction {
  background-color: var(--color-text-alt);
  width: 100%;
  padding: 2rem 6rem;
  /* justify-content: space-between; */
}

.obs__introduction-heading {
  font-family: var(--font-family-heading);
  font-size: 30px;
  color: var(--color-text-alt-light);
}

.obs__introduction-description__container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.obs__introduction-description-buls {
  margin: 1.3rem 0 0 0;
  display: flex;
  justify-content: flex-start;
}

.obs__introduction-description {
  padding: 2rem 1.7rem;
  min-width: 13rem;
  width: 13rem;
  border-radius: 10px;
}

.obs__introduction-description h3 {
  font-family: var(--font-family-display);
  font-size: 20px;
  padding: 0 0 0.6rem 0;
  color: var(--color-text-alt-light);
}

.obs__introduction-description p {
  font-family: var(--font-family-text);
  font-size: 16px;
  color: var(--color-text-alt-light);
}

.description_first-bul {
  background-color: var(--color-bg-alt-1);
}

.description_second-bul {
  background-color: var(--color-bg-alt);
}

.description_third-bul {
  background-color: var(--color-bg);
}

.obs__introduction-links {
  color: var(--color-text);
  font-family: var(--font-family-display);
  align-self: center;
  font-size: 20px;
  padding: 1rem 1.7rem;
  margin: 0 0 0 1rem;
  border-radius: 80px;
  border: 4px solid var(--color-text);
}

.obs__introduction-links:hover {
  cursor: pointer;
  background-color: var(--color-bg);
  color: var(--color-text);
  border: 4px solid var(--color-bg);
}

@media screen and (max-width: 700px) {
  .obs__introduction-description-buls {
    display: grid;
    grid-template-columns: auto auto;
  }
  .obs__introduction {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 550px) {
  .obs__introduction {
    padding: 2rem;
  }
}
