body {
  background-color: rgb(0, 128, 128);
  font-family: "Georgia", serif;
}

main {
  background-color: rgb(255, 255, 255);
  border: solid black 1px;
  padding: 15px;
  max-width: 50em;
  margin: 2em auto;
}

header {
  background-color: white;
  position: fixed;
  left: 0;
  right: 0;
  top: 0px;
  align-items: center;
  border: 1px solid black;
}

header * {
  text-decoration: underline;
}

header ul {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

header li {
  margin: 0px;
  padding: 0px;
  margin-right: 1.5em;
}

header li a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
