body {
    background-color: rgb(0,128,128 );
    font-family: "Georgia", serif;
}

div.main {
background-color:rgb(255,255,255);
border:solid black 1px;
padding:1em;
max-width:50em;
margin: 2em auto;
}
