/* TODO: deduplicate the following in other places */

.obs__members {
  width: 100%;
  padding: 3rem 6rem 0rem 6rem;
  background-color: var(--color-foreground);
}

.obs__members-heading {
  color: var(--color-txt);
  font-family: var(--font-text-1);
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.obs__members-description {
  color: var(--color-txt);
  font-family: var(--font-text-1);
  font-size: 16px;
  font-weight: 400;
  margin: 1.5em 3rem 0rem 3rem;
  padding-bottom: 3rem;
}

.obs__members-description h3 {
  font-family: var(--font-text-1);
  font-weight: 500;
  font-size: 30px;
  padding: 0 0 0.6rem 0;
  color: var(--color-accent);
}

.obs__members-description p {
  font-family: var(--font-text-1);
  font-size: 16px;
  color: var(--color-txt);
}

@media screen and (max-width: 700px) {
  .obs__members {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 550px) {
  .obs__members {
    padding: 2rem;
  }
}

/* END */

.obs__members-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  font-size: 20px;
  padding: 0 1rem;
}

@media screen and (max-width: 700px) {
  .obs__members-columns {
    flex-direction: column;
    gap: 1.5rem;
    padding: 0;
  }
  .obs__members-description {
    margin: 0;
  }
}

.obs__members-columns ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.obs__members-columns li {
  padding: 0.5rem 0;
}

.invalid-member {
  color: red;
}
