.obs__header {
    width: 100%;
    position:relative;
}

.obs__header-background {
    width: 100%;
    height: 43rem;
    background-color: var(--color-text)
}

.obs__header-foreground {
    position: absolute;
    width:17rem;
    top: 18rem;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-text);
    box-shadow: 0px 0px 3px var(--color-bg);
    padding: 1rem;
}

.obs__header-foreground h1, 
.obs__header-foreground a {
    margin: 0.3rem
}

.obs__header-heading {
    color: var(--color-bg);
    text-align: center;
    font-family: var(--font-family-display);
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
}

.obs__header-browse-button {
    border-radius: 25px;
    background-color: var(--color-bg-alt);
    padding: 0.6rem 1rem;
    color: var(--color-text);
    font-family: var(--font-family-display);
    font-weight: 500;
    font-size: 17px;
    text-transform: uppercase;
}

.obs__header-browse-button:hover {
    background-color: var(--color-bg);
    color: var(--color-text);
}