.obs__navbar {
    position: sticky;
    top:0;
    display: flex;
    width:100%;
    padding: 2rem 6rem;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    z-index: 1;
    background-color: var(--color-bg);
    
}

.obs__navbar-links {
    flex:1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.obs__navbar-links_logo {
    flex:1;
    color: var(--color-text);
    font-family: var(--font-family-logo);
    font-size: 35px;
}

.obs__navbar-links_container {
    display: flex;
}

.obs__navbar-links_container a {
    color: var(--color-text);
    font-family: var(--font-family-display);
    font-size: 20px;
    font-weight: 300;
    line-height: 45px;
    /* text-transform: capitalize; */
    cursor: pointer;
    margin: 0 1rem;
}


.obs__navbar-links_logo a:hover,
.obs__navbar-links_container a:hover {
    color: var(--color-text-alt);
    
}

.obs__navbar-menu {
    margin-left: 1rem;
    display: none;
    position: relative;
}

.obs__navbar-menu svg {
    cursor: pointer;
}

.obs__navbar-menu svg:hover {
    filter: invert(42%) sepia(38%) saturate(5921%) hue-rotate(351deg) brightness(97%) contrast(101%);
}

.obs__navbar-menu_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    text-align: end;
    background-color: var(--color-bg);
    padding: 2rem;

    position: absolute;
    right: 0;
    top: 30px;
    right:0;

    min-width: 140px;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.6);
}

.obs__navbar-menu_container p {
    margin: 1rem 0;
    color: var(--color-text);
    font-family: var(--font-family-display);
    font-size: 20px;
    font-weight: 300;
}

.obs__navbar-menu_container-links p:hover {
    color: var(--color-text-alt);
}


@media screen and (max-width: 1050px) {
    .obs__navbar-links_container {
        display: none;
    }

    .obs__navbar-menu {
        display: flex;
    }
    
}

@media screen and (max-width: 700px) {
    .obs__navbar {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px) {
    .obs__navbar {
        padding: 2rem;
    }
}

.obs__navbar-gradient {

    /* ff 3.6+ */
    background:-moz-linear-gradient(180deg, rgba(0, 0, 0, 1) 69%, rgba(238, 130, 238, 0) 100%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(180deg, rgba(0, 0, 0, 1) 69%, rgba(238, 130, 238, 0) 100%);

    /* opera 11.10+ */
    background:-o-linear-gradient(180deg, rgba(0, 0, 0, 1) 69%, rgba(238, 130, 238, 0) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EE82EE', endColorstr='#000000', GradientType=1 );

    /* ie 10+ */
    background:-ms-linear-gradient(180deg, rgba(0, 0, 0, 1) 69%, rgba(238, 130, 238, 0) 100%);

    /* global 94%+ browsers support */
    background:linear-gradient(180deg, rgba(0, 0, 0, 1) 69%, rgba(238, 130, 238, 0) 100%);

}


