@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700");
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Fredoka+One&display=swap");

:root {
  /* --gradient-bar: linear-gradient(black, rgba(255, 0, 0, 0.787)); */
  --font-family-text: "Open Sans", sans-serif;
  --font-family-display: "Fira Mono", monospace;
  --font-family-logo: "Fira Mono", monospace;
  --font-family-heading: "Fredoka One", cursive;
  --color-bg: #0d1117;
  --color-bg-alt: #55843d;
  --color-bg-alt-1: #5d4887;
  --color-text: #ffffff;
  --color-text-alt: #ff6631;
  --color-text-alt-light: #f8c8ac;
}
