@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700");
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Fredoka+One&display=swap");

/* new fonts */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap");

* {
  color: var(--color-txt);
}

:root {
  /* new fonts */
  --font-family-logo: "Fira Mono", monospace;
  --font-display: "Fira Sans Condensed", sans-serif;
  --font-text-1: "Fira Mono", monospace;
  --font-text-2: "Fira Code", monospace;

  /* new color codes */
  --color-background: #18181b;
  --color-foreground: #27272a;
  --color-foreground-2: #202022;
  --color-muted: #71717a;
  --color-accent: #3b82f6;
  --color-txt: #f4f4f5;
  --color-accent-alt: #ff6631;
}

/* animations from https://css-tricks.com/a-handy-little-system-for-animated-entrances-in-css/ */
/* (https://css-tricks.com/license/ allows uncredited use for any purpose) */

.animate {
  animation-duration: 0.5s;
  animation-fill-mode: backwards;
}

@media screen and (prefers-reduced-motion: reduce) {
  .animate {
    animation: none !important;
  }
}

.animate.fade {
  animation-name: animate-fade;
  animation-duration: 0.55s;
  animation-timing-function: ease-in-out;
}

@keyframes animate-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.delay-1 {
  animation-delay: 0.6s;
}
.delay-2 {
  animation-delay: 1s;
}
.delay-3 {
  animation-delay: 1.4s;
}

.animate.slide-up {
  animation-name: animate-slide-up;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

@keyframes animate-slide-up {
  0% {
    opacity: 0;
    transform: translate(0, 20px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.animate.flip {
  animation-name: animate-flip;
  transform-style: preserve-3d;
  perspective: 1000px;
  animation-duration: 0.5s;
}

@keyframes animate-flip {
  0% {
    opacity: 0;
    transform: rotateX(-120deg) scale(0.9, 0.9);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg) scale(1, 1);
  }
}

.show-1 {
  animation: cssAnimation-show 0s 3s forwards;
  width: 0;
  height: 0;
  visibility: hidden;
}

.show-2 {
  animation: cssAnimation-show 0s 6s forwards;
  width: 0;
  height: 0;
  visibility: hidden;
}

@keyframes cssAnimation-show {
  to {
    visibility: visible;
    width: 100%;
    height: auto;
  }
}

.hide-1 {
  -moz-animation: cssAnimation 0s ease-in 3s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 3s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 3s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 3s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.hide-2 {
  -moz-animation: cssAnimation 0s ease-in 9s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 9s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 9s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 9s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}
@-webkit-keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

.emph-text {
  font-style: italic;
}

.link-text {
  color: var(--color-accent);
  text-decoration: underline;
}

a:hover {
  color: var(--color-accent-alt);
}
